accommodationMicroservice/accommodationMicroserviceCore/src/main/resources/accommodationService.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tim9.com/accommodationService" elementFormDefault="qualified" targetNamespace="http://tim9.com/accommodationService" version="1.0">

  <xs:element name="Accommodation" type="tns:accommodation"/>

  <xs:element name="Accommodation_unit" type="tns:accommodationUnit"/>

  <xs:element name="Category" type="tns:category"/>

  <xs:element name="City" type="tns:city"/>

  <xs:element name="Comment" type="tns:comment"/>

  <xs:element name="Extra_field" type="tns:extraField"/>

  <xs:element name="Picture" type="tns:picture"/>

  <xs:element name="Price" type="tns:price"/>

  <xs:element name="Type" type="tns:type"/>

  <xs:element name="createAccommodationRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accommodation" type="tns:accommodation"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="createAccommodationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accommodation" type="tns:accommodation"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="createAccommodationUnitRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accommodationUnit" type="tns:accommodationUnit"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="createAccommodationUnitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accommodationUnit" type="tns:accommodationUnit"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="createPictureRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="picture" type="tns:picture"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="createPictureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="picture" type="tns:picture"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="createPriceRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="price" type="tns:price"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="createPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="price" type="tns:price"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="deleteAccommodationUnitRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:long"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="deleteAccommodationUnitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accommodationUnit" type="tns:accommodationUnit"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="deletePictureRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:long"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="deletePictureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="picture" type="tns:picture"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="deletePriceRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:long"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="deletePriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="price" type="tns:price"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="getAccommodationRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:long"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="getAccommodationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accommodation" type="tns:accommodation"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="getAccommodationUnitsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:long"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="getAccommodationUnitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="accommodationUnits" type="tns:accommodationUnit"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="getCategoriesRequest">
    <xs:complexType>
      <xs:sequence/>
    </xs:complexType>
  </xs:element>

  <xs:element name="getCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="categories" type="tns:category"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="getCitiesRequest">
    <xs:complexType>
      <xs:sequence/>
    </xs:complexType>
  </xs:element>

  <xs:element name="getCitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="cities" type="tns:city"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="getCommentsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="agentId" type="xs:long"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="getCommentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="comments" type="tns:comment"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="getExtraFieldsRequest">
    <xs:complexType>
      <xs:sequence/>
    </xs:complexType>
  </xs:element>

  <xs:element name="getExtraFieldsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="extraFields" type="tns:extraField"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="getPicturesRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:long"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="getPicturesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="picture" type="tns:picture"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="getPricesRequests">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:long"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="getPricesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="price" type="tns:price"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="getTypesRequest">
    <xs:complexType>
      <xs:sequence/>
    </xs:complexType>
  </xs:element>

  <xs:element name="getTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="type" type="tns:type"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="updateAccommodationRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accommodation" type="tns:accommodation"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="updateAccommodationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accommodation" type="tns:accommodation"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="updateAccommodationUnitRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accommodationUnit" type="tns:accommodationUnit"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="updateAccommodationUnitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accommodationUnit" type="tns:accommodationUnit"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="accommodation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Accommodation_id" type="xs:long"/>
      <xs:element name="Name" type="xs:string"/>
      <xs:element name="Description" type="xs:string"/>
      <xs:element name="Number_of_days_before_cancelation" type="xs:int"/>
      <xs:element ref="tns:City"/>
      <xs:element name="Counted_number_of_beds" type="xs:int"/>
      <xs:element name="AgentId" type="xs:long"/>
      <xs:element minOccurs="0" name="LastUpdated" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="city">
    <xs:sequence>
      <xs:element minOccurs="0" name="city_id" type="xs:long"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element name="X_cord" type="xs:double"/>
      <xs:element name="Y_cord" type="xs:double"/>
      <xs:element minOccurs="0" name="LastUpdated" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="accommodationUnit">
    <xs:sequence>
      <xs:element minOccurs="0" name="Accommodation_unit_id" type="xs:long"/>
      <xs:element name="Number_of_people" type="xs:int"/>
      <xs:element ref="tns:Category"/>
      <xs:element ref="tns:Type"/>
      <xs:element ref="tns:Accommodation"/>
      <xs:element maxOccurs="unbounded" ref="tns:Extra_field"/>
      <xs:element maxOccurs="unbounded" ref="tns:Price"/>
      <xs:element minOccurs="0" name="LastUpdated" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="category">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category_id" type="xs:long"/>
      <xs:element name="Category_name" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Accommodation_units_of_category" type="tns:accommodationUnit"/>
      <xs:element minOccurs="0" name="LastUpdated" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="type">
    <xs:sequence>
      <xs:element minOccurs="0" name="Type_id" type="xs:long"/>
      <xs:element name="Type_name" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Accommodation_units_of_type" type="tns:accommodationUnit"/>
      <xs:element minOccurs="0" name="LastUpdated" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="extraField">
    <xs:sequence>
      <xs:element minOccurs="0" name="Extra_field_id" type="xs:long"/>
      <xs:element name="Extra_field_name" type="xs:string"/>
      <xs:element name="Extra_price" type="xs:float"/>
      <xs:element name="Optional" type="xs:boolean"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Accommodation_Units" type="tns:accommodationUnit"/>
      <xs:element minOccurs="0" name="LastUpdated" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="price">
    <xs:sequence>
      <xs:element minOccurs="0" name="Price_id" type="xs:long"/>
      <xs:element name="Date_from" type="xs:string"/>
      <xs:element name="Amount" type="xs:float"/>
      <xs:element name="Date_to" type="xs:string"/>
      <xs:element minOccurs="0" name="Accommodation_Unit" type="tns:accommodationUnit"/>
      <xs:element minOccurs="0" name="LastUpdated" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="comment">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comment_id" type="xs:long"/>
      <xs:element name="Comment_body" type="xs:string"/>
      <xs:element name="Is_approved" type="xs:boolean"/>
      <xs:element ref="tns:Accommodation"/>
      <xs:element name="Client" type="xs:long"/>
      <xs:element minOccurs="0" name="LastUpdated" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="picture">
    <xs:sequence>
      <xs:element minOccurs="0" name="pictureId" type="xs:long"/>
      <xs:element minOccurs="0" name="picUrl" type="xs:string"/>
      <xs:element minOccurs="0" name="accommodation" type="tns:accommodation"/>
      <xs:element minOccurs="0" name="lastUpdated" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
