XWS_KT1/poruke/synchronisation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://www.lukacvetinovic.com/sync-tim-9"
    xmlns="http://www.lukacvetinovic.com/sync-tim-9">

    <xs:element name="Picture">
        <xs:complexType>
            <xs:all>
                <xs:element name="Picture_id">
                    <xs:simpleType>
                        <xs:restriction base="xs:long">
                            <xs:minInclusive value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="Pic_url" type="xs:string"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
    <xs:element name="Category">
        <xs:complexType>
            <xs:all>
                <xs:element name="Category_id">
                    <xs:simpleType>
                        <xs:restriction base="xs:long">
                            <xs:minInclusive value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="Category_name">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="50"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:all>
        </xs:complexType>
    </xs:element>
    <xs:element name="Type">
        <xs:complexType>
            <xs:all>
                <xs:element name="Type_id">
                    <xs:simpleType>
                        <xs:restriction base="xs:long">
                            <xs:minInclusive value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="Type_name">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="50"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:all>
        </xs:complexType>
    </xs:element>
    <xs:element name="Extra_field">
        <xs:complexType>
            <xs:all>
                <xs:element name="Extra_field_id">
                    <xs:simpleType>
                        <xs:restriction base="xs:long">
                            <xs:minInclusive value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="Extra_field_name">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="50"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="Extra_price">
                    <xs:simpleType>
                        <xs:restriction base="xs:float">
                            <xs:minInclusive value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="Optional" type="xs:boolean"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
    <xs:element name="Price">
        <xs:complexType>
            <xs:all>
                <xs:element name="Price_id">
                    <xs:simpleType>
                        <xs:restriction base="xs:long">
                            <xs:minInclusive value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="Date_from" type="xs:date"/>
                <xs:element name="Amount">
                    <xs:simpleType>
                        <xs:restriction base="xs:float">
                            <xs:minInclusive value="0"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="Date_to" type="xs:date"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
    <xs:element name="Accommodation">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Accommodation_unit_id">
                    <xs:simpleType>
                        <xs:restriction base="xs:long">
                            <xs:minInclusive value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="Description">
                    <xs:simpleType>
                        <xs:restriction base="xs:string"> </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="X_cord">
                    <xs:simpleType>
                        <xs:restriction base="xs:double">
                            <xs:minInclusive value="0"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="Y_cord" type="xs:double"/>
                <xs:element name="Number_of_days_before_cancelation">
                    <xs:simpleType>
                        <xs:restriction base="xs:int">
                            <xs:minInclusive value="0"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Comment">
        <xs:complexType>
            <xs:all>
                <xs:element name="Comment_id">
                    <xs:simpleType>
                        <xs:restriction base="xs:long">
                            <xs:minInclusive value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="Comment_body">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="512"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="Is_approved" type="xs:boolean"/>
                <xs:element ref="Accommodation"/>
                <xs:element name="Client" type="Client"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
    <xs:element name="Accommodation_unit">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Accommodation_unit_id">
                    <xs:simpleType>
                        <xs:restriction base="xs:long">
                            <xs:minInclusive value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="Number_of_people">
                    <xs:simpleType>
                        <xs:restriction base="xs:int">
                            <xs:minInclusive value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element ref="Category"/>
                <xs:element ref="Type"/>
                <xs:element maxOccurs="unbounded" ref="Extra_field"/>
                <xs:element maxOccurs="unbounded" ref="Price"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Revoke_accommodation">
        <xs:complexType>
            <xs:all>
                <xs:element name="Revoke_accommodation_id">
                    <xs:simpleType>
                        <xs:restriction base="xs:long">
                            <xs:minInclusive value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="Date_from" type="xs:date"/>
                <xs:element name="Date_to" type="xs:date"/>
                <xs:element ref="Accommodation_unit"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
    <xs:element name="Reservation">
        <xs:complexType>
            <xs:all>
                <xs:element name="Reservation_id">
                    <xs:simpleType>
                        <xs:restriction base="xs:long">
                            <xs:minInclusive value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="Date_from" type="xs:date"/>
                <xs:element name="Date_to" type="xs:date"/>
                <xs:element name="Final_price">
                    <xs:simpleType>
                        <xs:restriction base="xs:float">
                            <xs:minInclusive value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="Confirmation" type="xs:boolean"/>
                <xs:element ref="Accommodation_unit"/>
                <xs:element name="Client" type="Client"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
    <xs:complexType abstract="true" block="" name="User">
        <xs:sequence>
            <xs:element name="name">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="30"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="surname">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="30"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="username">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="30"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="password" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Client">
        <xs:complexContent>
            <xs:extension base="User">
                <xs:sequence>
                    <xs:element maxOccurs="1" name="email" type="xs:string"/>
                    <xs:element name="telephone_number" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Agent">
        <xs:complexContent>
            <xs:extension base="User">
                <xs:sequence>
                    <xs:element name="business_registration_number" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="Message">
        <xs:complexType>
            <xs:all>
                <xs:element name="Mesasge_id">
                    <xs:simpleType>
                        <xs:restriction base="xs:long">
                            <xs:minInclusive value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="Message_body" type="xs:string"/>
                <xs:element name="Message_time" type="xs:date"/>
                <xs:element name="Sender" type="User"/>
                <xs:element name="Reciever" type="User"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
</xs:schema>
